services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: masstransit/rabbitmq
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    configs:
      - source: rabbitmq-plugins
        target: /etc/rabbitmq/enabled_plugins
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  inventoryservice:
    image: inventoryservice
    ports:
      - "5001:8080"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4317
      - RabbitMQ__Host=rabbitmq
      - RabbitMQ__Username=guest
      - RabbitMQ__Password=guest
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=InventoryDb;Username=postgres;Password=postgres
      - ASPNETCORE_ENVIRONMENT=Development
      - JwtSettings__SecretKey=a-string-secret-at-least-256-bits-long
      - JwtSettings__Issuer=Warehouse
      - JwtSettings__Audience=Warehouse
      - ProductService__BaseUrl=http://productservice:8081
    build:
      context: .
      dockerfile: InventoryService/Dockerfile
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy

  productservice:
    image: productservice
    ports:
      - "5002:8081"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4317
      - RabbitMQ__Host=rabbitmq
      - RabbitMQ__Username=guest
      - RabbitMQ__Password=guest
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=InventoryDb;Username=postgres;Password=postgres
      - ASPNETCORE_ENVIRONMENT=Development
      - JwtSettings__SecretKey=a-string-secret-at-least-256-bits-long
      - JwtSettings__Issuer=Warehouse
      - JwtSettings__Audience=Warehouse
    build:
      context: .
      dockerfile: ProductService/Dockerfile
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy

  lgtm:
    image: "grafana/otel-lgtm:latest"
    platform: linux/amd64
    ports:
      - "3000:3000" # Grafana
      - "4317:4317" # GRPC
      - "4318:4318" # HTTP

networks:
  default:
    name: lgtm-network
    driver: bridge

configs:
  rabbitmq-plugins:
    content: "[rabbitmq_management]."  
volumes:
  rabbitmq-data:
  postgres-data:
  testapp:
    image: testapp
    build:
      context: .
      dockerfile: TestApp/Dockerfile

