services:
  inventoryservice:
    image: inventoryservice
    ports:
      - "5000:8080"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4317
    build:
      context: .
      dockerfile: InventoryService/Dockerfile

  productservice:
    image: productservice
    ports:
      - "5002:8080"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4317
    build:
      context: .
      dockerfile: ProductService/Dockerfile

  lgtm:
    image: "grafana/otel-lgtm:latest"
    platform: linux/amd64
    ports:
      - "3000:3000" # Grafana
      - "4317:4317" # GRPC
      - "4318:4318" # HTTP

networks:
  default:
    name: lgtm-network
    driver: bridge
