services:
  inventoryservice:
    image: inventoryservice
    build:
      context: .
      dockerfile: InventoryService/Dockerfile

  productservice:
    image: productservice
    build:
      context: .
      dockerfile: ProductService/Dockerfile

  lgtm:
    image: "grafana/otel-lgtm:latest"
    platform: linux/amd64
    ports:
      - "3000:3000" # Grafana
      - "4317:4317" # GRPC
      - "4318:4318" # HTTP

networks:
  default:
    name: lgtm-network
    driver: bridge
